<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" list="searchWord" aria-describedby="search-button">
          <datalist id="searchWord">
            {{#each restaurants}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
          </datalist>
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      {{{ sort }}}
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">

        {{#if keyword}}
        沒有符合 {{ keyword }} 的搜尋結果
        {{else}}
        {{ err }}
        {{/if}}

      </div>
    </div>
  </div>
</div>